* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container {
    max-width: 830px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.app__wrapper {
    display: flex;
    column-gap: 20px;
}
body{
    background: #98C0FF;
}