@font-face {
    font-family:'Roboto-regular' ;
    src: url(Roboto-Regular.ttf);
}
@font-face {
    font-family:'Roboto-medium' ;
    src: url(Roboto-Medium.ttf);
}
@font-face {
    font-family:'Roboto-light' ;
    src: url(Roboto-Light.ttf);
}